body {
  background: linear-gradient(-45deg, #051b25, #092D35, #085568, #0D9276);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
}
#img2 {
  width: 100px;
  transform: rotate(90deg);
}

#img1 {
  width: 600px;
  height: 340px;
  -webkit-mask-position: 7.5% 50%,92.5% 50%;
  mask-position: 7.5% 50%,92.5% 50%;
  filter: grayscale(0);
  position: absolute;
  margin-top:  20px;
}

#img1:hover{
  width: 700px;
  height: 400px;
  transition-duration: 0.6s;
  --m:
  radial-gradient(circle farthest-side at right,#000 99%,#0000) 
    0 100%/46% 92% no-repeat,
  radial-gradient(circle farthest-side at left ,#000 99%,#0000) 
    100% 0/46% 92% no-repeat;
-webkit-mask: var(--m);
        mask: var(--m);
filter: grayscale(.5);
transition: .3s linear;
cursor: pointer;
}


 


div {
  display: flex;
  align-items: center;
  justify-content: center;
}


@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: transparent;
  position: relative;
}
th, td p{
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #991717;
  position: relative;
}
th {
  background-color: #ffffff;
  position: relative;
}

.footer-license{
  text-align: center;
  color: #0D9276;
  font-size: large
} 